<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ljming.mybatisLearn.getStart.MybatisStartMapper">
    <resultMap id="userMap" type="top.ljming.mybatisLearn.getStart.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="cell_phone" property="cellPhone" typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="created_at" property="createdAt" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
        <result column="updated_at" property="updatedAt" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
    </resultMap>

    <insert id="insertUser" parameterType="top.ljming.mybatisLearn.getStart.User">
        INSERT INTO  user
        (username, cell_phone, gender, age)
        VALUES
        (#{username}, #{cellPhone}, #{gender}, #{age})
    </insert>
</mapper>
